.capa{
  width: 30%;
margin-top: 5%;
margin-bottom: 5%;
margin-left: 35%
}
body{
background-color: teal
}
.preço{
  background-color: PowderBlue;
}
nav{
  position: relative;
  bottom: 1150px;
  left: 1500px;
  border: 3px solid white;
}
ul li{
  background-color: teal
}
.tesoura{
  width: 300px;
}

nav{
  position: relative;
  bottom:10000px;
  left: 1000px;
}
ul{
  display: flex;
}
